.navbar{
    display: grid;
    text-align: center;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.navbar_header{
    font-size: 25px;
    color: indigo;
}
.navbar_header a{
    text-decoration: none;
}
#menu{
    display: flex;
    justify-content: space-between;
    font-size: 25px; 
    padding-right: 200px;
    align-items: center;

}

#menu li{
    list-style-type: none;
}

#menu li a:hover{
    color: red;
}
#menu li a{
    text-decoration: none;
    color: indigo;
}

.btn{
    padding: 5px 20px;
    font-size: 25px;
    border-radius: 30px;
    border: 2px solid lightgray;
    background-color: white;
    color: indigo;
}
