body{
    background-color: darkblue;
}
#section{
    text-align: left;
    width: 60%;
    height: 600px;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: auto;
    color: white;
    margin-top: 50px;
    
}

.part1{
    margin-top: 40px;
}

h1{
    font-size: 50px;
}

.image{
    height: 600px;
}
button{
    background-color: aqua;
    height: 50px;
    width: 200px;
    color: white;
    border-radius: 50px;
    border: none;
}